@import url('https://fonts.googleapis.com/css?family=Cookie|Josefin+Slab|Marmelad|Philosopher');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #221f1f;
}
h2, p {
    color: goldenrod;
    font-family: 'Philosopher', sans-serif;
}
p{
    font-family: 'Josefin Slab', serif;   
}
h1, h2{
    text-align: center;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 4px rgba(0,0,0,0.3);
    color: #249898;
    font-family: 'Cookie', cursive;
}
#header{
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.3);
    transition: 0.5s;
}
.image1{
    background: url(../images/light.jpeg) top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.flexbox{
    padding: 10% 0 10% 0;
    margin: 0 11% 0 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
}
.image2{
    background: url(../images/woodLog.jpeg) top no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 40%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
    width: 40%;
}
.image3{
    background: url(../images/door.jpeg) top no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height:50vh;
    width: 70%;
    margin: 0 15% 0 15%;
}
.content2{
    width: 50%;
    margin: 0 25% 0 25%;
}
.image4{
    background: url(../images/street.jpeg) top no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 40%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fade-in{
    opacity: 0;
}